pre { background: #333; border-top: 3px solid #000; color: green; font: 300 11px/1em Courier; }
.meta { font-size: 11px; font-family: lucida grande; }

.zm-tt-container .status-container { font-size: 12px; }
.zm-tt-container .status-container a { border-radius: 3px; font-weight: normal; opacity: 0.65; padding: 5px 7px; }
.zm-tt-container .status-container a:hover { opacity: 1; }
.zm-tt-container ..zm-base-status-aborted { background: #efeffd; box-shadow: 1px 1px 0 #C8C8FF; color: #c8c8ff; text-decoration: line-through; }
.zm-tt-container a.zm-base-status-closed { background: #f0f0f0; box-shadow: 1px 1px 0 #d3d0d0; color: #d3d0d0; }
.zm-tt-container .zm-base-status-resolved { background: #e5f6ed; box-shadow: 1px 1px 0 #67ca97; color: #67ca97; }
.zm-tt-container a.zm-base-status-open { background: #efeffd; box-shadow: 1px 1px 0 #b0b0e6; color: #b0b0e6; }
.zm-tt-container .priority-container a { border-radius: 3px; font-weight: normal; padding: 5px 7px; }
.zm-tt-container a.zm-base-priority-high { background: #ffcece; box-shadow: 1px 1px 0 #ff0000; color: #ff0000; }
.zm-tt-container a.zm-base-priority-meigh { background: #ffddc9; box-shadow: 1px 1px 0 #f7701d; color: #f7701d; }
.zm-tt-container a.zm-base-priority-medium { background: #fee5b8; box-shadow: 1px 1px 0 #ff9000; color: #ff9000; }
.zm-tt-container a.zm-base-priority-low { background: #fefeb8; box-shadow: 1px 1px 0 #ffd200; color: #ffd200; }
.zm-base-hidden { visibility: hidden; }
.zm-base-visible { visibility: visible; }

/* twentytweelve mess up*/
.zm-tt-single-container #respond { float: left; }
.zm-tt-single-container .hentry { float: left; padding: 0; width: 100%; }

/*= Dialog
-------------------------------------------------------------- */
.ui-dialog { background: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 0 30px #666; float: left; }
.ui-dialog .form-container { background: none; padding: 0; }
.ui-dialog .button-container { margin: 20px 0 0 0; }
.ui-dialog-title { color: #333; float: left; font: bold 16px/1 sans-serif; margin: 0; padding: 10px; }
.ui-dialog-title em { color: #888; }
.ui-widget-overlay { 
    background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)); 
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)); 
}
.ui-draggable .ui-dialog-titlebar { background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent; border-bottom: 1px solid #E3E3E3; }

/*= Navigation
-------------------------------------------------------------- */
.zm-tt-navigation-container { background: #e9f7f7; border-radius: 5px; float: left; margin-bottom: 20px; width: 100%; }
.zm-tt-navigation-container li { color: #00aecf; font-size: 14px; margin: 5px 5px 0; padding: 10px; }
.zm-tt-navigation-container li a { color: #00aecf; }
.zm-tt-navigation-container li:hover { background: #fff; border-radius: 5px 5px 0 0; }
.zm-tt-navigation-container li ul { border-radius: 0 0 5px 5px; box-shadow: 0 5px 5px #d8d8d8; background: #fff; display: none; margin: 11px 0 0 -10px; padding: 10px; position: absolute; z-index: 1; }
.zm-tt-navigation-container li ul li { border-bottom: 1px solid #e8e8e8; float: none; margin: 0; padding: 10px 0; }
.zm-tt-navigation-container li ul li:last-child { border-bottom: 0; }
.zm-tt-navigation-container li ul li a { color: #888; font-size: 12px; }
.zm-tt-navigation-container ul li:hover > ul { background: #fff; display: block; }

.zm-tt-navigation-container li.currnet-item { background: #fff; border-radius: 5px 5px 0 0; border: solid #f4f4f4; border-width: 1px 1px 0; }
.zm-tt-navigation-container li.create-ticket:hover { background: none; }

.zm-tt-navigation-container nav.tt-navigation-container ul { list-style-type: none; margin: 0; padding: 0; }
.zm-tt-navigation-container nav.tt-navigation-container ul li { float: left; list-style-type: none; }
.zm-tt-navigation-container nav.tt-navigation-container li.create-ticket { float: right; padding: 0; }

/*= Single
-------------------------------------------------------------- */
.zm-tt-single-container h1 { font: normal 28px/1 sans-serif; color: #333; margin: 0 0 10px; }
.zm-tt-single-container p { font-size: 14px; margin-bottom: 5px; }
.zm-tt-single-container small { color: #d3d3d3; font: normal 11px/1 lucida grande; margin: 0 0 5px 0;}

.zm-tt-single-container .nav-previous-container { float: left; margin: 10px 0 20px 0; width: 100%; }
.zm-tt-single-container .nav-previous-container ul { list-style-type: none; margin: 0; }
.zm-tt-single-container .nav-previous-container .next { float: right; text-align: right; width: 30%; }
.zm-tt-single-container .nav-previous-container .previous { float: left; width: 30%; }

.zm-tt-single-container .entry-utility { color: #D3D3D3; float: left; margin: 0 0 20px; width: 100%; }
.zm-tt-single-container .entry-utility ul { list-style-type: none; margin: 0; }
.zm-tt-single-container .entry-utility ul li { float: left; margin: 0 20px 0 0; }

.zm-tt-single-container .task-update-container { clear: both; float: left; margin-bottom: 20px; }
.zm-tt-single-container .task-update-container h3 { color: #333; font-size: 16px; font-weight: bold; margin: 0 0 10px; }
.zm-tt-single-container .task-update-container h3 em { color: #888; }
.zm-tt-single-container .task-update-container form fieldset { width: 15%; }

/*= Archive
-------------------------------------------------------------- */
.zm-tt-archive-container table { border: 1px solid #ccc; border-radius: 5px; color: #888; font: 300 12px/1.4em sans-serif; width: 100%; } 
.zm-tt-archive-container table th { background: #EFEFEF; border-bottom: 1px solid #ccc; font-weight: bold; padding: 10px; text-shadow: 1px 1px 0 #fff; text-align: left; }
.zm-tt-archive-container table th:first-child { border-radius: 5px 0 0; }
.zm-tt-archive-container table th:last-child { border-radius: 0 5px 0 0; }
.zm-tt-archive-container table td { border-bottom: 1px solid #e8e8e8; padding: 10px; vertical-align: top; }
.zm-tt-archive-container table tr { background: #fff; }
.zm-tt-archive-container table tr:nth-child(2n) { 
    background-image: -webkit-linear-gradient(top , #FAFAFA, #EFEFEF); 
    background-image: -moz-linear-gradient(center top , #FAFAFA, #EFEFEF);     
    }

.zm-tt-archive-container table tr:hover { background: #e0ffe0; }
.zm-tt-archive-container table .utility-container { font: normal 11px/1.4em lucida Grande; margin: 10px 0 0; }
.zm-tt-archive-container table td .status-container,
.zm-tt-archive-container table td .priority-container { margin-top: 4px; }
.zm-tt-archive-container table tr.type-task .title { font-weight: bold; }

/*= Forms
-------------------------------------------------------------- */
.zm-tt-form-container form { font: 300 12px/1.4em sans-serif; }
.zm-tt-form-container form p { float: left; width: 100%; margin: 0 0 20px 0; }
.zm-tt-form-container form p label { float: left; margin-bottom: 5px; }
.zm-tt-form-container form fieldset { border: 0; float: left; width: 20%; margin: 0 10px 10px 0; }
.zm-tt-form-container form fieldset label { clear: both; float: left; font-weight: 300; margin: 0 0 4px 5px; }
.zm-tt-form-container textarea { height: 200px; padding: 5px; width: 97%; }
.zm-tt-form-container textarea,
.zm-tt-form-container input[type="text"] { 
background: #FAFAFA;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
border: 1px solid #ddd; 
border-radius: 3px; 
font: 300 15px/1.625 "Helvetica Neue",Helvetica,Arial,sans-serif;
color: #888; 
clear: both; float: left; padding: 5px; width: 97%; 
}
.zm-tt-form-container select:focus,
.zm-tt-form-container input:focus[type="text"],
.zm-tt-form-container textarea:focus { border-color: #939393; box-shadow: 0 0 3px #939393; }
.zm-tt-form-container select,
.zm-tt-form-container textarea { border: 1px solid #ddd; color: #888; padding: 5px; }
.zm-tt-form-container select { font-weight: 300; font-size: 12px; margin-top: 5px; }

.zm-tt-form-container .form-wrapper { float: left; padding: 30px; }

.zm-tt-form-container #create_task_form form p { float: left; margin: 0 0 20px; width: 100%; }
.zm-tt-form-container #create_task_form .button-container { float: left; margin: 0; padding-right: 10px; width: 96.5%; }
.zm-tt-form-container a.button { float: left; padding: 8px 20px; }
.zm-tt-form-container a#exit { color: red; float: right; }

.zm-tt-form-container input#pt_publish { color: green; }
.zm-tt-form-container .button-container { border-top: 1px solid #E3E3E3; float: left; padding: 10px 0 10px 10px; width: 100%; }

.zm-tt-form-container form p label,
.zm-tt-form-container form p label .title,
.zm-tt-form-container form p label option { color: #888; font-size: 12px; font-weight: normal; }
.zm-tt-form-container form .zm-base-title { color: #444; font-weight: bold; font-size: 14px; text-transform: capitalize; margin-bottom: 4px; }

/*= Sidebar
-------------------------------------------------------------- */
.zm-tt-container .zm-tt-sidebar-container { float: right; }
.zm-tt-sidebar-container ul { list-style-type: none; margin: 0; }
.zm-tt-sidebar-container li { margin-bottom: 3px; }
.zm-tt-sidebar-container .zm-base-title { color: #444; text-transform: capitalize; }
.zm-tt-sidebar-container ul { color: #444; border-bottom: 2px solid #EFEFEF; font-weight: bold; font-size: 13px; margin-bottom: 25px; padding-bottom: 25px; }
.zm-tt-sidebar-container .zm-base-count { border-radius: 4px; background: #ddd; color: #fff; float: right; font: bold 11px arial; margin: 0 0 0 10px; padding: 2px 3px; }
.zm-tt-sidebar-container .zm-base-terms { font-size: 12px; font-weight: 300; }
.zm-tt-sidebar-container .zm-base-terms a { color: #666; font-size: 12px; font-weight: 300; }
.zm-tt-sidebar-container .priority a { font-weight: bold; }
.zm-tt-sidebar-container .status a { font-weight: bold; }
.zm-tt-sidebar-container .zm-base-closed a { color: #D3D0D0; }
.zm-tt-sidebar-container .zm-base-open a { color: #B0B0E6; }
.zm-tt-sidebar-container .zm-base-aborted a { text-decoration: line-through; }
.zm-tt-sidebar-container .zm-base-medium a { color: #FF9000; }
.zm-tt-sidebar-container .zm-base-low a { color: #FFD200; }
.zm-tt-sidebar-container .zm-base-high a { color: #FF0000; }
.zm-tt-sidebar-container .zm-base-meigh a { color: #f7701d; }

/*= Reset fixes
-------------------------------------------------------------- */
.zm-tt-container { font: 300 12px/1.4em sans-serif; }
.zm-tt-container a { border: 0; color: #00AECF; }
.zm-tt-container a:hover { border: 0; }

.zm-tt-container table { border-collapse: separate; float: left; }
.zm-tt-container { }
.tt-glue {
background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 4px #F3F3F3 inset;
    float: left;
    padding: 10px;
    width: 98%;
    margin: 0 10px 20px 0;
}

.zm-tt-form-container .button,
.zm-tt-form-container .button a { color: #00aecf; font-weight: bold; letter-spacing: 0.3px; text-shadow: 1px 1px 0 #fff; }
.zm-tt-form-container .button { 
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3); 
    background: -webkit-linear-gradient(top , #F9F9F9, #E3E3E3); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e3e3e3)); /* Safari 4+, Chrome 2+ */  
    background: linear-gradient( #f9f9f9, #e3e3e3); /* the standard */  
        
    -o-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
    -moz-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
    -webkit-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
    border: 1px solid; border-color: #ccc #bbb #a0a0a0; border-left: 1px solid #bbb; border-radius: 5px; cursor: pointer; 
    font: bold 15px/1 "Helvetica Neue", sans-serif, arial; 
    margin-right: 10px; 
    }

.zm-tt-form-container .button { 
    padding: 8px 20px; 
}

.zm-tt-form-container input[type="submit"] { float: left; }
.zm-tt-form-container .button:last-child { margin-right: 0; }
    
.zm-tt-form-container .button:hover.button { 
    border-radius: 5px; 
    border-color: #939393; 
    border-style: solid; 
    border-width: 1px; 
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3); 
    background: -webkit-linear-gradient(top , #F9F9F9, #E3E3E3); 
    text-decoration: none;
    }

.zm-base-resolved  { color: #67CA97; }
.zm-base-resolved a { color: #67CA97; }

.zm-tt-single-container .zm-tt-archive-container table .hentry { float: none; }

a.login { font-size: 12px; margin: 10px 10px 0 0; display: inline-block; }

.zm-tt-container { margin: 0 auto; width: 960px; }
.main-container { float: left; width: 700px; margin-right: 10px; }
.zm-tt-sidebar-container { float: right; width: 220px; margin-left: 10px; }
.zm-tt-archive-container .main-container { }
