body { color: #888; font: 300 12px/1.4em sans-serif; }
article { float: left; margin: 0 20px 20px; width: 68%; }
.meta { font-size: 11px; font-family: lucida grande; }

table { border: 1px solid #ccc; border-radius: 5px; color: #888; font: 300 12px/1.4em sans-serif; width: 100%; } 
table th { background: #EFEFEF; border-bottom: 1px solid #ccc; font-weight: bold; padding: 10px; text-shadow: 1px 1px 0 #fff; text-align: left; }
table th:first-child { border-radius: 5px 0 0; }
table th:last-child { border-radius: 0 5px 0 0; }
table td { border-bottom: 1px solid #e8e8e8; padding: 10px; vertical-align: top; }
table td a { color: #00AECF; }
table td a:hover { color: #007586; }

/** odd, even */
table tr:nth-child(2n) { background: -moz-linear-gradient(center top , #FAFAFA, #EFEFEF); }
table tr:hover { background: #e0ffe0; }

/*= Type Task - Base stylig, loop
-------------------------------------------------------------- */
table .utility-container { font: normal 11px/1.4em lucida Grande; margin: 10px 0 0; }
table td .status-container,
table td .priority-container { margin-top: 4px; }
table tr.type-task .title { font-weight: bold; }

.type-task h3 a { color: #ccc; font-style: italic; font-size: 12px; font-weight: normal; }

/** set our width's for each column */
.loop .type-task ul li:last-child { border-right: 0; }
.loop .type-task ul li h2 a { color: #888; }
.loop .type-task ul.inline { clear: both; float: left; }

.status-container { font-size: 12px; }
.status-container a { border-radius: 3px; font-weight: normal; opacity: 0.75; padding: 5px 7px; }
.status-container a:hover { opacity: 1; }

a.zm-base-status-aborted { background: #efeffd; box-shadow: 1px 1px 0 #C8C8FF; color: #c8c8ff; text-decoration: line-through; }
a.zm-base-status-closed { background: #f0f0f0; box-shadow: 1px 1px 0 #d3d0d0; color: #d3d0d0; }
a.zm-base-status-resolved { background: #e5f6ed; box-shadow: 1px 1px 0 #67ca97; color: #67ca97; }
a.zm-base-status-open { background: #efeffd; box-shadow: 1px 1px 0 #b0b0e6; color: #b0b0e6; }

.priority-container a { border-radius: 3px; font-weight: normal; padding: 5px 7px; }

a.zm-base-priority-high { background: #ffcece; box-shadow: 1px 1px 0 #ff0000; color: #ff0000; }
a.zm-base-priority-meigh { background: #ffddc9; box-shadow: 1px 1px 0 #f7701d; color: #f7701d; }
a.zm-base-priority-medium { background: #fee5b8; box-shadow: 1px 1px 0 #ff9000; color: #ff9000; }
a.zm-base-priority-ledium { background: #fef3b8; box-shadow: 1px 1px 0 #ffa800; color: #ffa800; }
a.zm-base-priority-low { background: #fefeb8; box-shadow: 1px 1px 0 #ffd200; color: #ffd200; }

.zm-base-hidden { visibility: hidden; }
.zm-base-visible { visibility: visible; }

/*= Navigation
-------------------------------------------------------------- */
nav.tt-navigation-container ul { list-style-type: none; margin: 0; padding: 0; }
nav.tt-navigation-container ul li { float: left; list-style-type: none; }
nav.tt-navigation-container li.create-ticket { float: right; margin: 13px 5px 0; padding: 0; }

.primary-navigation-container { background: #e9f7f7; border-radius: 5px; float: left; margin-bottom: 20px; width: 100%; }
.primary-navigation-container li { color: #00aecf; font-size: 14px; margin: 5px 5px 0; padding: 10px; }
.primary-navigation-container li a { color: #00aecf; }

.primary-navigation-container li.currnet-item { background: #fff; border-radius: 5px 5px 0 0; border: solid #f4f4f4; border-width: 1px 1px 0; }

.primary-navigation-container li:hover { background: #fff; border-radius: 5px 5px 0 0; }

.primary-navigation-container li.create-ticket:hover { background: none; }

.primary-navigation-container li ul { border-radius: 0 0 5px 5px; box-shadow: 0 5px 5px #d8d8d8; background: #fff; display: none; margin: 11px 0 0 -10px; padding: 10px; position: absolute; z-index: 1; }
.primary-navigation-container li ul li { border-bottom: 1px solid #e8e8e8; float: none; margin: 0; padding: 10px 0; }
.primary-navigation-container li ul li:last-child { border-bottom: 0; }
.primary-navigation-container li ul li a { color: #888; font-size: 12px; }

.primary-navigation-container ul li:hover > ul { background: #fff; display: block; }

button,
.button,
.button a { color: #00aecf; font-weight: bold; letter-spacing: 0.3px; text-shadow: 1px 1px 0 #fff; }
.button { background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3); 

-o-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
-moz-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
-webkit-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;

border: 1px solid; border-color: #ccc #bbb #a0a0a0; border-left: 1px solid #bbb; border-radius: 5px; cursor: pointer; 
font: bold 15px/1 "Helvetica Neue", sans-serif, arial; margin-right: 10px; padding: 5px 20px; }
button#exit { color: red; float: right; }
input#pt_publish { color: green; }
button:hover,
.button:hover.button { border-radius: 5px 5px 5px 5px; background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3); border-color: #939393; }



/*= Dialog
-------------------------------------------------------------- */
.ui-dialog { background: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 0 30px #666; float: left; }
.ui-dialog .form-container { background: none; padding: 0; }
.ui-dialog .button-container { margin: 20px 0 0 0; }
.ui-dialog-title { color: #333; float: left; font-size: 16px; font-weight: bold; margin: 0; padding: 10px; }
.ui-dialog-title em { color: #888; }
.ui-widget-overlay { 
background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
}
.dialog-container { float: left; padding: 10px; }
.ui-draggable .ui-dialog-titlebar { background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent; border-bottom: 1px solid #E3E3E3; }

#task_create_form textarea { border: 1px solid #ddd; border-radius: 3px; color: #888; clear: both; float: left; height: 200px; padding: 5px; width: 97%; }
#task_create_form input[type="text"] { border: 1px solid #ddd; border-radius: 3px; color: #888; clear: both; float: left; padding: 5px; width: 97%; }

#task_create_form input:focus[type="text"],
#task_create_form textarea:focus { border-color: #939393; box-shadow: 0 0 3px #939393; }

.form-container select,
.form-container textarea,
form#commentform textarea,
form#commentform input[type="text"]  { border: 1px solid #ddd; color: #888; padding: 5px; }

.form-container select { font-weight: 300; font-size: 12px; margin-top: 5px; }
.form-wrapper { float: left; padding: 30px; }
#task_create_form p { float: left; margin: 0 0 20px; width: 100%; }
#task_create_form .form-container { padding: 0; }
#task_create_form .button-container { float: left; margin: 20px 0 0 -10px; width: 101.5%; }
.button-container { border-top: 1px solid #E3E3E3; float: left; padding: 10px 0 10px 10px; width: 100%; }


form fieldset { border: 0; float: left; width: 20%; margin: 0 10px 10px 0; }
form fieldset label { clear: both; float: left; }
/** default title inside of update form */
.form-container #respond { padding: 10px; }
.form-container form p label,
.form-container form p label .title,
.form-container form p label option { color: #888; font-size: 12px; font-weight: normal; }

form .title { color: #444; font-weight: bold; font-size: 14px; text-transform: capitalize; }

pre { background: #333; border-top: 3px solid #000; color: green; font: 300 11px/1em Courier; }

.zm-tt-single-container h1 { font: normal 28px/1 sans-serif; color: #333; margin: 0 0 10px; }
.zm-tt-single-container p { font-size: 14px; margin-bottom: 5px; }
.zm-tt-single-container .nav-previous-container { float: left; margin: 10px 0 20px 0; width: 100%; }
.zm-tt-single-container .nav-previous-container .next { float: right; text-align: right; width: 30%; }
.zm-tt-single-container .nav-previous-container .previous { float: left; width: 30%; }
.zm-tt-single-container .nav-previous-container ul { margin: 0; }
.zm-tt-single-container .nav-previous-container ul { list-style-type: none; }

.zm-tt-single-container .entry-utility { float: left; margin: 0 0 20px; width: 100%; }
.zm-tt-single-container .entry-utility ul { list-style-type: none; margin: 0; }
.zm-tt-single-container .entry-utility ul li { float: left; margin: 0 20px 0 0; }

.zm-tt-single-container .task-update-container { clear: both; float: left; margin-bottom: 20px; }

/* twentytweelve mess up*/
.zm-tt-single-container #respond { float: left; }
.zm-tt-single-container .hentry { float: left; padding: 0; width: 100%; }
.zm-tt-sidebar-container aside { float: left; }
.zm-tt-sidebar-container ul { margin: 0; }

.zm-tt-single-container .task-update-container h3 { color: #333; font-size: 16px; font-weight: bold; margin: 0 0 10px; }
.zm-tt-single-container .task-update-container h3 em { color: #888; }
.zm-tt-single-container .task-update-container form fieldset { width: 15%; }
.zm-tt-single-container small { color: #d3d3d3; font: normal 11px/1 lucida grande; float: left; margin: 0 0 5px 0;}


/*= Sidebar
-------------------------------------------------------------- */
aside .categories a { color: #666; font-size: 12px; font-weight: 300; }

aside ul .zm-base-title { color: #444; text-transform: capitalize; }
aside ul li.zm-base-terms { color: #444; border-bottom: 2px solid #EFEFEF; font-weight: bold; font-size: 13px; margin-bottom: 25px; padding-bottom: 25px; }
aside ul li.categories { color: #444; font-weight: bold; font-size: 13px; }
aside ul li.categories ul li { font-size: 12px; font-weight: 300; }

aside { float: left; width: 100%; }
aside ul { list-style-type: none; margin: 0; }
aside li { margin-bottom: 3px; }
aside .zm-base-count { border-radius: 4px; background: #ddd; color: #fff; float: right; font: bold 11px arial; margin: 0 0 0 10px; padding: 2px 3px; }

aside .zm-base-terms { font-size: 12px; font-weight: 300; }
aside .zm-base-terms a { color: #666; font-size: 12px; font-weight: 300; }

aside .status a { font-weight: bold; }
aside .status .zm-base-closed a { color: #D3D0D0; }
aside .status .zm-base-open a { color: #B0B0E6; }
aside .status .zm-base-aborted a { text-decoration: line-through; }

aside .priority a { font-weight: bold; }
aside .priority .zm-base-medium a { color: #FF9000; }
aside .priority .zm-base-low a { color: #FFD200; }
aside .priority .zm-base-high a { color: #FF0000; }
aside .priority .zm-base-meigh a { color: #f7701d; }
