/*= Archive
-------------------------------------------------------------- */
body.archive .zm-default-navigation-container li.most-recent-task { background: #fff; border-radius: 5px 5px 0 0; border: solid #f4f4f4; border-width: 1px 1px 0; }
.zm-default-archive-container table { border: 1px solid #ccc; border-radius: 5px; color: #888; font: 300 12px/1.4em sans-serif; width: 100%; } 
.zm-default-archive-container table th { background: #EFEFEF; border-bottom: 1px solid #ccc; font-weight: bold; padding: 10px; text-shadow: 1px 1px 0 #fff; text-align: left; }
.zm-default-archive-container table th:first-child { border-radius: 5px 0 0; }
.zm-default-archive-container table th:last-child { border-radius: 0 5px 0 0; }
.zm-default-archive-container table td { border-bottom: 1px solid #e8e8e8; padding: 10px; vertical-align: top; }
.zm-default-archive-container table tr { background: #fff; }
.zm-default-archive-container table tr:nth-child(2n) { 
    background-image: -webkit-linear-gradient(top , #FAFAFA, #EFEFEF); 
    background-image: -moz-linear-gradient(center top , #FAFAFA, #EFEFEF);     
    background-color: #EFEFEF;    
    }

.zm-default-archive-container table tr:hover { background: #e0ffe0; }
.zm-default-archive-container table .utility-container { font: normal 11px/1.4em lucida Grande; margin: 10px 0 0; }
.zm-default-archive-container table td .status-container,
.zm-default-archive-container table td .priority-container { margin-top: 4px; }
.zm-default-archive-container table tr.type-task .title { font-weight: bold; }
