/*= Reset 
-------------------------------------------------------------- */ 
a { color: #1982D1; text-decoration: none; }
pre { background: #333; border-top: 3px solid #000; color: green; font: 300 11px/1em Courier; }


/**
 * Use this color picker: http://www.w3schools.com/tags/ref_colorpicker.asp
 * 1. Pick a color
 * 2. 4 up from #fff to get the top color, i.e. fade from
 * 3. 4 up from the color from step 1 to get the bottom color, i.e. "fade to color"
 * 4. 4 down from #000
  to get the text-shadw and border color
 *
 * Eveything has a system :D
 * 
 */

.main-container .priority-container a,
.main-container .status-container a {
    border-radius: 3px; 
    color: #fff;
    float: left;
    font-weight: bold; 
    letter-spacing: 0.5px;     
    padding: 2px 7px; 
    opacity: 0.70;
    text-align: center;    
    -webkit-transition: opacity .5s;     
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    }

.priority-container a:hover,
.status-container a:hover { 
    text-decoration: none;
    opacity: 1; 
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;    
    }


/*= Priority
-------------------------------------------------------------- */
.priority-container a { min-width: 50px; }

.zm-tt-container a.zm-base-priority-high { 
    background: -moz-linear-gradient( top, #FFC2B2, #FF704D) white;
    background: -webkit-linear-gradient( top, #FFC2B2, #FF704D) white;    
    background-color: #FF704D;
    border: 1px solid #E62E00;    
    text-shadow: 1px 1px 0 #4C0F00;
    }

.zm-tt-container a.zm-base-priority-low { 
    background: -moz-linear-gradient( top , #FFF0B2, #FFDB4D) white;
    background: -webkit-linear-gradient( top , #FFF0B2, #FFDB4D ) white;
    background-color: #FFDB4D;
    border: 1px solid #E6B800;    
    text-shadow: 1px 1px 0 #B26B24;
    }

.zm-tt-container a.zm-base-priority-medium { 
    background: -moz-linear-gradient( top, #FFE0C2, #FFB870) white;
    background: -webkit-linear-gradient( top, #FFE0C2, #FFB870) white;    
    background-color: #FFB870;
    border: 1px solid #FF9000;
    text-shadow: 1px 1px 0 #B26B24;
    }
/* -------------------------------------------------------------- */


/*= Status
-------------------------------------------------------------- */
.status-container a { 
    border: 1px solid;
    min-width: 60px;     
    }

a.zm-base-status-resolved { 
    background: -moz-linear-gradient(top , #B2F0E0, #4DDBB8) white;
    background: -webkit-linear-gradient(top , #B2F0E0, #4DDBB8) white;    
    background-color: #4DDBB8;    
    border-color: #00B88A;
    text-shadow: 1px 1px 0 #003D2E;
    }

a.zm-base-status-aborted { 
    background: -moz-linear-gradient( top, #E0E0FF, #B8B8FF) white;    
    background: -webkit-linear-gradient( top, #E0E0FF, #B8B8FF) white;    
    background-color: #B8B8FF;
    border-color: #7A7ACC;
    text-decoration: line-through;
    text-shadow: 1px 1px 0 #2E2E4C;
    }

a.zm-base-status-open { 
    background: -moz-linear-gradient( top , #E0E0FF, #B8B8FF) white;
    background: -webkit-linear-gradient( top , #E0E0FF, #B8B8FF) white;
    background-color: #B8B8FF;
    border-color: #7A7ACC;
    text-shadow: 1px 1px 0 #2E2E4C;
    }

a.zm-base-status-new {
    background: -moz-linear-gradient( top , #EEEEEA, #B3B3B0) white;
    background: -webkit-linear-gradient( top , #EEEEEA, #B3B3B0) white;        
    background-color: #B3B3B0;
    border-color: #929291;
    color: #FFF;
    text-shadow: 1px 1px 0 #2E2E4C;
    }

a.zm-base-status-closed {
    background: -moz-linear-gradient( top , #EEEEEA, #B3B3B0) white;
    background: -webkit-linear-gradient( top , #EEEEEA, #B3B3B0) white;    
    background-color: #B3B3B0;
    border-color: #929291;    
    color: #FFF;
    text-decoration: line-through;    
    text-shadow: 1px 1px 0 #2E2E4C;
    }
/* -------------------------------------------------------------- */


/*= Type
-------------------------------------------------------------- */
.type-container { 
    min-height: 16px; 
    min-width: 16px; 
    display: block; 
    }

.icon-container {
    min-height: 16px; 
    min-width: 16px; 
    display: block; 
    opacity: 0.5; 
    -webkit-transition: opacity .5s;     
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    }

.icon-container a,
.type-container a { display: block; text-indent: 20px; }

a[class*='zm-base-type-photography-'],
.zm-base-type-photography { background: url('images/famfamfam/icons/camera.png') no-repeat; } 
.zm-base-type-house { background: url('images/famfamfam/icons/house.png') no-repeat; }
.zm-base-type-freelance { background: url('images/famfamfam/icons/money.png') no-repeat; }
.zm-base-type-car { background: url('images/famfamfam/icons/car.png') no-repeat; }
.zm-base-type-computer { background: url('images/famfamfam/icons/page_code.png') no-repeat; }
.zm-base-type-personal { background: url('images/famfamfam/icons/user.png') no-repeat; }

li.icon-container { text-indent: 0; width: auto; }
.icon-find { background: url('images/famfamfam/icons/find.png') no-repeat 0 -2px; padding-left: 20px; opacity: 1; }

.icon-container a:hover,
.type-container a:hover {   
    opacity: 1; 
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;    
    }
/* -------------------------------------------------------------- */


/*= Dialog
-------------------------------------------------------------- */
.ui-dialog { background: #fff; border: 1px solid #ccc; border-radius: 4px; box-shadow: 0 0 30px #666; float: left; }
.ui-dialog .form-container { background: none; padding: 0; }

.ui-dialog-buttonpane,
.ui-dialog .button-container { border-top: 1px solid #E3E3E3; float: left; margin: 20px 0 0 0; padding: 10px 0 10px 10px; width: 100%; }

.ui-dialog-title { color: #333; float: left; font: bold 16px/1 sans-serif; margin: 0; padding: 10px; }
.ui-dialog-title em { color: #888; }
.ui-widget-overlay { 
    background: -moz-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)); 
    background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7)); 
    }
    
.ui-draggable .ui-dialog-titlebar { background: -moz-linear-gradient(center top , #E3E3E3, #F9F9F9) repeat scroll 0 0 transparent; border-bottom: 1px solid #E3E3E3; }
/* -------------------------------------------------------------- */


/*= Navigation
-------------------------------------------------------------- */
.zm-tt-navigation-container { background: #e9f7f7; border-radius: 5px; float: left; margin-bottom: 40px; width: 100%; }

.zm-tt-navigation-container li { color: #00aecf; font-size: 14px; margin: 5px 5px 0; padding: 10px; }
.zm-tt-navigation-container li a { color: #00aecf; }
.zm-tt-navigation-container li.create-ticket:hover { background: none; }
.zm-tt-navigation-container li:hover { background: #fff; border-radius: 5px 5px 0 0; }
.zm-tt-navigation-container li ul { border-radius: 0 0 5px 5px; box-shadow: 0 5px 5px #d8d8d8; background: #fff; display: none; margin: 11px 0 0 -10px; padding: 10px; position: absolute; z-index: 1; }
.zm-tt-navigation-container li ul li { border-bottom: 1px solid #e8e8e8; float: none; margin: 0; padding: 10px 0; }
.zm-tt-navigation-container li ul li:last-child { border-bottom: 0; }
.zm-tt-navigation-container li ul li a { color: #888; font-size: 12px; }

.zm-tt-navigation-container ul li:hover > ul { background: #fff; display: block; }

.zm-tt-navigation-container nav.tt-navigation-container ul { list-style-type: none; margin: 0; padding: 0; }
.zm-tt-navigation-container nav.tt-navigation-container ul li { float: left; list-style-type: none; }
.zm-tt-navigation-container nav.tt-navigation-container li.create-ticket { float: right; padding: 0; }
/* -------------------------------------------------------------- */


/*= Update Container
-------------------------------------------------------------- */
.default-update-container { clear: both; float: left; }
.default-update-container h3 { color: #333; font-size: 16px; font-weight: bold; margin: 0 0 10px; }
.default-update-container h3 em { color: #888; }
.default-update-container form fieldset { width: 15%; }
/* -------------------------------------------------------------- */


/*= Forms
-------------------------------------------------------------- */
.zm-tt-form-container .form-wrapper { float: left; padding: 30px; }

.zm-tt-form-container #filter_task_form .form-wrapper { float: left; padding: 15px 0 35px 5px; width: 100%;}

.zm-tt-form-container form { font: 300 12px/1.4em sans-serif; }
.zm-tt-form-container form p { float: left; width: 100%; margin: 0 0 20px 0; }
.zm-tt-form-container form p label { float: left; margin-bottom: 5px; }
.zm-tt-form-container form fieldset { border: 0; float: left; width: 23%; margin: 0 10px 10px 0; }
.zm-tt-form-container form fieldset label { clear: both; float: left; font-weight: 300; margin: 0 0 4px 5px; }

.zm-tt-form-container textarea { height: 200px; padding: 5px; width: 97%; }

.zm-tt-form-container textarea,
.zm-tt-form-container input[type="password"],
.zm-tt-form-container input[type="text"] { background: #FAFAFA; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; border: 1px solid #ddd; border-radius: 3px; font: 300 15px/1.625 "Helvetica Neue",Helvetica,Arial,sans-serif; color: #888; clear: both; float: left; padding: 5px;width: 97%; }
.zm-tt-form-container input[type="submit"] { float: left; }

.zm-tt-form-container select:focus,
.zm-tt-form-container input:focus[type="text"],
.zm-tt-form-container textarea:focus { border-color: #939393; box-shadow: 0 0 3px #939393; }

.zm-tt-form-container select,
.zm-tt-form-container textarea { border: 1px solid #ddd; color: #888; padding: 5px; }
.zm-tt-form-container select { font-weight: 300; font-size: 12px; margin-top: 5px; width: 90%; }

.zm-tt-form-container .button-container .left input { float: left; }
.zm-tt-form-container .button-container .left { float: left; width: 58%; }
.zm-tt-form-container .button-container .right { float: right; text-align: right; }
.zm-tt-form-container .button-container ul { list-style-type: none; line-height: 2em;}
.zm-tt-form-container .button-container ul li { color: #333;
float: left;
font-weight: normal;
margin-right: 5px;
font-size: 12px; }
.zm-tt-form-container .button-container ul li a { color: #888; margin-right: 5px; }
/* create */
.zm-tt-form-container a.button { float: left; padding: 5px 10px; }

.zm-tt-navigation-container .zm-tt-form-container a.button { font-size: 15px; float: left; padding: 8px 20px; }

.zm-tt-form-container fieldset label { cursor: pointer; }

.zm-tt-form-container .type-container label { background-position: 20px 2px; margin: 0 0 10px 4px; padding-top: 4px; }
.zm-tt-form-container .type-container input { margin-right: 30px; }

.zm-tt-form-container #create_task_form form p { float: left; margin: 0 0 20px; width: 100%; }
.zm-tt-form-container #create_task_form .button-container { float: left; margin: 0; padding-right: 10px; width: 96.5%; }

.confirmation-container button:last-child,

.zm-tt-form-container #login_exit,
.zm-tt-form-container a#exit,
.zm-tt-form-container .button-container ul li a.exit { color: red; }

.confirmation-container button:first-child,
#login_form #login_button,
.zm-tt-form-container input#wp-submit,
.zm-tt-form-container input#save_exit,
.zm-tt-form-container input#save_add { color: green; }


.zm-tt-form-container form p label,
.zm-tt-form-container form p label .title,
.zm-tt-form-container form p label option { color: #888; font-size: 12px; font-weight: normal; }
.zm-tt-form-container form .zm-base-title { color: #444; float: left; font-weight: bold; font-size: 14px; text-transform: capitalize; margin-bottom: 6px; }
.zm-tt-form-container .button:last-child { margin-right: 0; }
/* -------------------------------------------------------------- */


/*= Sidebar
-------------------------------------------------------------- */
.zm-tt-container .zm-tt-sidebar-container { float: right; }
.zm-tt-sidebar-container ul { list-style-type: none; margin: 0; }
.zm-tt-sidebar-container li { 
    margin: 3px 0 10px 0;
    clear: both;
    float: left;
    width: 100%;
    }

.zm-tt-sidebar-container .type-container a { 
    float: left; 
    text-indent: 20px; 
    width: auto; 
    }

.zm-tt-sidebar-container .text { color: #888; font-weight: normal; }
.zm-tt-sidebar-container .zm-base-title { color: #444; font-weight: bold; text-transform: capitalize; }
.zm-tt-sidebar-container ul { color: #444; border-bottom: 2px solid #EFEFEF; font-weight: bold; font-size: 13px; float: left; margin-bottom: 25px; padding-bottom: 25px;width: 100%; }
    
.zm-tt-sidebar-container .zm-base-count { border-radius: 4px; background: #ddd; color: #fff; float: right; font: bold 11px arial; margin: 0 0 0 10px; padding: 2px 3px; }
.zm-tt-sidebar-container .zm-base-terms { font-size: 12px; font-weight: 300; }
.zm-tt-sidebar-container .zm-base-terms a { color: #666; font-size: 12px; font-weight: 300; }

.zm-tt-sidebar-container .priority a { font-weight: bold; }
.zm-tt-sidebar-container .status a { font-weight: bold; }

.zm-tt-sidebar-container a.zm-base-status-closed { color: #D3D0D0; }
.zm-tt-sidebar-container a.zm-base-status-new { color: #666; }
.zm-tt-sidebar-container a.zm-base-status-open { color: #B0B0E6; }
.zm-tt-sidebar-container a.zm-base-status-resolved { color: #67CA97; }
.zm-tt-sidebar-container a.zm-base-status-aborted { text-decoration: line-through; }

.zm-tt-sidebar-container a.zm-base-priority-medium { color: #FF9000; }
.zm-tt-sidebar-container a.zm-base-priority-low { color: #FFD200; }


/* sort of like a reset */
.zm-tt-sidebar-container a.zm-base-status-aborted,
.zm-tt-sidebar-container a.zm-base-status-closed,
.zm-tt-sidebar-container a.zm-base-status-new,
.zm-tt-sidebar-container a.zm-base-status-resolved,
.zm-tt-sidebar-container a.zm-base-status-open,
.zm-tt-sidebar-container a.zm-base-priority-high,
.zm-tt-sidebar-container a.zm-base-priority-medium,
.zm-tt-sidebar-container a.zm-base-priority-low {
    background: none;
    border: 0 none;
    box-shadow: 0 0 0 white;
    font-weight: bold;
    font-size: 13px;
    padding: 0;
    opactiy: 1;
    text-shadow: 0 0 0;
    text-align: left;
    }
.zm-tt-sidebar-container a.zm-base-priority-high { color: #FF0000; }
.zm-tt-sidebar-container { float: right; width: 220px; margin-left: 10px; }
/* -------------------------------------------------------------- */


/*= Reset fixes
-------------------------------------------------------------- */
.zm-tt-container { font: 300 12px/1.4em sans-serif; }
.zm-tt-container table { border-collapse: separate; float: left; }

.tt-glue {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 2px 2px 4px #F3F3F3 inset;
    -webkit-box-shadow: 2px 2px 4px #F3F3F3 inset;
    float: left;
    padding: 10px;
    }

.ui-button,
.zm-tt-form-container .button,
.zm-tt-form-container .button a { color: #00aecf; font-weight: bold; letter-spacing: 0.3px; text-shadow: 1px 1px 0 #fff; }

.ui-button,
.zm-tt-form-container input[type="submit"],
.zm-tt-form-container .button { 
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3); 
    background: -webkit-linear-gradient(top , #F9F9F9, #E3E3E3); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e3e3e3)); /* Safari 4+, Chrome 2+ */  
    background: linear-gradient( #f9f9f9, #e3e3e3); /* the standard */  
        
    -o-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
    -moz-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
    -webkit-transition: border-top-color 0.218s,border-right-color 0.218s,border-bottom-color 0.218s,border-left-color .218s;
    border: 1px solid; 
    border-color: #ccc #bbb #a0a0a0; 
    border-left: 1px solid #bbb; 
    border-radius: 5px; cursor: pointer; 
    font: bold 12px/1 "Helvetica Neue", sans-serif, arial; 
    margin-right: 20px; 
    padding: 5px 10px; 
    }
    
.ui-button:hover,
.zm-tt-form-container .button:hover.button { 
    border-radius: 5px; 
    border-color: #939393; 
    border-style: solid; 
    border-width: 1px; 
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3); 
    background: -webkit-linear-gradient(top , #F9F9F9, #E3E3E3); 
    text-decoration: none;
    }

.zm-tt-single-container .zm-tt-archive-container table .hentry { float: none; }

a.login { font-size: 12px; margin: 10px 10px 0 0; display: inline-block; }

.zm-tt-container { margin: 0 auto; width: 920px; }
.zm-tt-container .main-container { float: left; margin-right: 10px; width: 635px; }

.tt-filter-container { float: left; margin-bottom: 20px; width: 100%; }

.tt_loading { background: url(images/w-loader.gif) no-repeat center center; min-height: 20px; }

table .tt_loading { float: left; height: 200px; width: 100%; }
.tt_loading { float: left; width: 100%; }

/*= Comments
-------------------------------------------------------------- */
.comments-container { float: left; }
.comments-container ul { list-style-type: none; margin: 0; }
.comments-container ul li {     
    clear: both;
    margin: 0;
    width: 100%;
    }

.comments-container .avatar-container { border: 1px solid #ccc; float: left; padding: 3px; }
.comments-container .avatar-container img { float: left; }
.comments-container .content {  
    border: 1px solid #CCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 2px 2px 1px #F4F4F4;
    float: left;
    margin: 0 0 20px 20px;
    max-width: 75%;
    padding: 10px; }

.comments-container time,
.comments-container .author { }

table .comment-count a,
table .comments-count a {     
    height: 16px; 
    width: 16px; 
    display: block; 
    opacity: 0.5; 
    text-indent: -999em; 
    float: left;
    margin-right: 5px;
    -webkit-transition: opacity .5s;     
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    }

.comment-count a { background: url('images/famfamfam/icons/comment.png')  no-repeat; min-height: 20px; min-width: 20px; }
.comments-count a { background: url('images/famfamfam/icons/comments.png')  no-repeat; min-height: 20px; min-width: 20px; }

.comment-count a:hover,
.comments-count a:hover {     
    opacity: 1; 
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;   
    }
/* -------------------------------------------------------------- */


/*= qTip
-------------------------------------------------------------- */
.ui-tooltip { font: normal 11px/1.2em arial; }
/* -------------------------------------------------------------- */


table .type-container { margin: 0; }
.confirmation-container p { font-size: 12px; margin-bottom: 0; padding: 15px; }
.confirmation-container .ui-dialog-buttonpane { width: 97%; }
.zm-base-hidden { visibility: hidden; }
.zm-base-visible { visibility: visible; }
.meta { font-size: 11px; font-family: lucida grande; }
.tt-wrapper { float: left; background: #f2f2f2; padding: 10px; }
ul.inline { list-style-type: none; margin: 0; padding: 0; }
ul.inline li { float: left; }

.zm-tt-archive-container .text p,
.zm-tt-single-container .text p { color: #bbb; font-size: 12px; margin-bottom: 5px; }

.mini-button-container { 
    font-size: 10px;
    margin-right: 10px; 
    }

.zm-tt-form-container .mini-button-container input[type="submit"], 
.mini-button-container .default {    
    background: #DADADA;
    border-radius: 5px;   
    color: #fff;
    font-weight: normal;
    font-size: 10px; 
    padding: 1px 5px;
    text-shadow: 1px 1px 0 #A9A9A9;
    box-shadow: 1px 1px 0 #A9A9A9;
    }

.mini-button-container .update,
.mini-button-container input.update {}

.zm-tt-form-container .mini-button-container input.default {}

.mini-button-container .high {
    background-color: #FF704D;
    border-radius: 5px;    
    border: 1px solid #E62E00;    
    padding: 1px 5px;    
    text-shadow: 1px 1px 0 #4C0F00;
    }

.mini-button-container a { color: #fff; }
.mini-button-container a:hover { text-decoration: none;}

a:hover { text-decoration: none; }
.age-icon { background: url('images/famfamfam/icons/calendar.png') no-repeat; display: inline-block; padding-left: 20px; }


/*= Error messages
-------------------------------------------------------------- */
.error-container { background: #FFEBEB; border: 1px solid red; border-radius: 4px; margin: 20px 20px 0; padding: 10px; }
.error-container em { font-weight: bold; }

.zm-tt-form-container textarea.status-required, 
.zm-tt-form-container input.status-required { border-color: red; }
/* ----------------------------------------------------------- */


.inplace-edit-container .button-container { margin-top: -20px; }
